profiles {

    standard {
        process.executor = 'local'
        conda.createTimeout = "30 min"
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'
        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'
        submitRateLimit = '1 / 15 s'
    } 
}

params {
    run_selected_species = "True"
    ensembl_species_configs = "${baseDir}/test_data"
    ensembl_species_list = "${baseDir}/data/species_list.txt"
    gene_id_col = "ensgene"
    gene_name_col = "symbol"
}