property_ensgene=.id
property_mirbase_accession=
property_ortholog=
property_symbol=.name
property_goterm=.transcripts[].xrefs | map(select(.dbname=="GO")) | map(.linkage_types[].evidence) | .[]
property_ensfamily=.transcripts[].translations[].protein_features | map(select(.dbname=="PANTHER")) | map(.name) | .[]
property_uniprot=.transcripts[].translations[].xrefs | map(select(.dbname=="Uniprot/SWISSPROT")) | map(.primary_id) | .[]
property_description=.description
property_ensprotein=.transcripts[].translations[].id
property_interpro=.transcripts[].translations[].protein_features[] | select(.interpro_ac) | .interpro_ac
property_gene_biotype=.biotype
property_embl=.transcripts[].translations[].xrefs | map(select(.dbname=="EMBL")) | map(.primary_id) | .[]
property_mirbase_id=
property_hgnc_symbol=.xrefs | map(select(.dbname=="HGNC")) | map(.display_id) | .[]
property_ensfamily_description=.xrefs |  map(select(.dbname=="MIM_GENE")) | map(.description) | .[]
property_enstranscript=.transcripts[].id'
property_interproterm=.transcripts[].translations[].protein_features[] | select(.interpro_description) | .interpro_description
property_refseq=.transcripts[].xrefs | map(select(.dbname=="RefSeq_mRNA")) | map(.primary_id) | .[]
property_entrezgene=.xrefs | map(select(.dbname=="EntrezGene")) | map(.primary_id) | .[]
property_go=.transcripts[].xrefs | map(select(.dbname=="GO")) | map(.display_id) | .[]
property_synonym=.synonyms[]
